* {
    text-align: center;
}

.maindiv {
    background-color: aquamarine;
    width: 50%;
    min-height: 250px;
    margin-left: 25%;
}

.spoiler {
    background: #000;
    color: transparent;
    user-select: none;
}

.spoiler:active {
    color: #fff;
}
